{%load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <!-- <link rel="stylesheet" href="{%static 'css/bulma.min.css'%}"> -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="{%static 'js/index.js'%}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="{%static 'img/insta.png'%}" width="44" height="64">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">

            <a class="navbar-item" href="{% url 'index' %}">
                <span class="material-icons">home</span>
                Home
              </a>

            <a class="navbar-item" href="{% url 'all_posts' %}">
                <span class="material-icons">explore</span>
              Explore
            </a>
            <a class="navbar-item" href="{% url 'newpost' %}">
              <span class="material-icons">post_add</span>
              New Post
          </a>
            

            <a class="navbar-item" href="{% url 'profile' request.user.pk%}">
                <span class="material-icons">face</span>
                Profile
            </a>
            
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Settings
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'logout'%}">
                  Log out
                </a>
              </div>
            </div>
          </div>

        </div>
      </nav>
  <section class="section">
    <div class="container">

        {%block content%}
        {%endblock%}


        {%block pagination%}
        {%endblock%}

      
    </div>
  </section>

  </body>
  
</html>